.backCon {
	background-color: #fff;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: grid;
	grid-template-columns: 20% 80%;
	width: 100%;
	height: 100vh;
}

.Navbar {
	display: grid;
	grid-template-rows: 0.5fr 10fr 2fr;
	flex-direction: column;
	padding: 20px 30px 0 50px;
	border-right: 1px solid rgb(186, 186, 186);
}


.logo {
	font-size: 40px;
	font-weight: 600;
	font-family: Arial, Helvetica, sans-serif;
}


.icon  {
	font-size: 25px;
	font-family: sans-serif;
	margin-top: 30px;
	padding: 20px 10px;
	cursor: pointer;
	border-radius: 10px;
	transition: 0.2s all;
	display: flex;
	align-items: center;
}

.icon svg {
	margin-right: 20px;
	/* color: ; */
}

.icon:hover {
	background-color: #F2F2F2;
}

.icon:nth-child(2) {
	font-weight: 600;
}

.content {

	padding: 30px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	overflow: scroll;
}

.content::-webkit-scrollbar {
	display: none;
}


.Navbar li{
	list-style: none;
}
.logout {
	font-size: 30px;
	/* position: absolute; */
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90px;
	cursor: pointer;
}

@media (max-width:1280px) {
	.logo{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.Navbar{
	padding: 20px 30px 0 10px;
	}


}

@media (max-width:1120px) {
	
	.Navbar{
	padding: 20px 0px 0 10px;

	}
	.Navbar li{
		display: none;
	}
	.icon{
		display: flex;
		justify-content: center;
		padding: 20px 10px;
	}
	.logo{
		font-size: 25px;
	}
}

@media (max-width:560px) {
	.logo{
		display: none;
	}
	.container{
		display: flex;
		flex-direction: column;

	}
	
	.content{
		order: -1;
	}
	.Navbar{
		/* border-top: 1px solid; */
		order: 2;
		padding: 0 ;
		display: flex;
		justify-content: space-around;
		flex-direction: row	;
		align-items: center;
		/* box-shadow: 0px 3px 15px; */
		position: fixed;
		width: 100%;
		bottom: 0;
		background-color: black;
	}
	.icon svg{
		color: white;
	}
	.icons{
		display: flex;
		width: 100%;
		/* border: 1px solid; */
		justify-content: center;
	}
	.logout{
		display: none;
	}
	.icon{
		margin-top: 0px;
		padding: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.icon:hover{
		background-color: #d3d3d300;
	}
	.content{
		padding: 10px 20px;
	}
}

.results {
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 20px;
	margin-top: 40px;
}

.card {
	min-width: 330px;
	border: .5px solid #725AC1;
	padding: 20px 10px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.card img {
	width: 300px;
	height: 200px;
	border: 1px solid rgb(215, 215, 215);
	border-radius: 10px;
}

.cardContent h3 {
	font-size: 20px;
	margin-top: 20px;
}

@media (max-width: 900px) {
	.results {
		grid-template-columns: 100%;
	}
}

