.backCon {
	background-color: #fff;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: grid;
	grid-template-columns: 20% 80%;
	width: 100%;
	height: 100vh;
}

.Navbar {
	display: grid;
	grid-template-rows: 0.5fr 10fr 2fr;
	flex-direction: column;
	padding: 20px 30px 0 50px;
	border-right: 1px solid rgb(186, 186, 186);
}


.logo {
	font-size: 40px;
	font-weight: 600;
	font-family: Arial, Helvetica, sans-serif;
}


.icon {
	font-size: 25px;
	font-family: sans-serif;
	margin-top: 30px;
	padding: 20px 10px;
	cursor: pointer;
	border-radius: 10px;
	transition: 0.2s all;
	display: flex;
	align-items: center;
}

.icon svg {
	margin-right: 20px;
	/* color: ; */
}

.icon:hover {
	background-color: #F2F2F2;
}

.icon:nth-child(1) {
	font-weight: 600;
}

.content {

	padding: 30px 50px;
	/* display: flex;
	flex-direction: column;
	justify-content: space-between; */
	overflow: scroll;
	/* height: 115vh; */
}

.content::-webkit-scrollbar {
	display: none;
}

.user_img {
	border-radius: 50%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header img {
	width: 50px;
	cursor: pointer;
}

.explore {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 270px;
}

.explore h2 {
	font-size: 30px;
}

.cards {
	display: flex;
	/* justify-content: space-between; */
	overflow: scroll;
	gap: 10px;
	/* margin-top: 10px; */
}

.cards::-webkit-scrollbar {
	display: none;
}

.card {
	margin-right: 20px;
	min-width: 200px;
	width: 200px;
	height: 200px;
	/* background-color: grey; */
	background-size: cover;

	border-radius: 5px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
}

.card_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card_header svg {
	color: #fff;
}

.tag {
	width: 100px;
	height: 25px;
	border-radius: 5px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.description {
	color: #fff;
}

.adventures {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: max-content;
}

.categories {
	display: flex;
	/* justify-content: space-between; */
	width: 100%;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 10px;
}

/* .categories button {
	width: 75px;
	height: 75px;
	background-color: #D3D3D3;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.2s all;
	margin-top: 10px;
	margin-bottom: 5px;

}

.categories button:hover {
	background-color: #b7b7b7;
}

.categories button svg {
	margin-bottom: 5px;
} */


.categories button {
	position: relative;
	display: inline-block;
	margin: 15px;
	width: 100px;
	height: 100px;
	/* padding: 15px 30px; */
	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #725AC1;
	background: transparent;
	cursor: pointer;
	transition: ease-out 0.2s;
	border: 2px solid #725AC1;
	border-radius: 10px;
	box-shadow: inset 0 0 0 0 #725AC1;
}

.categories button:hover {
	color: white;
	box-shadow: inset 0 -100px 0 0 #725AC1;
}

.categories button:active {
	transform: scale(0.9);
}

.adventures h2 {
	font-size: 30px;
}

.recommended {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: max-content;
}

.recommended h2 {
	font-size: 30px;
	padding-bottom: 20px;

}

.explore,
.adventures,
.recommended {
	margin: 50px 0;
}

.Navbar li {
	list-style: none;
}

.logout {
	font-size: 30px;
	/* position: absolute; */

	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90px;
	cursor: pointer;
}

@media (max-width:1280px) {
	.logo {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.Navbar {
		padding: 20px 30px 0 10px;
	}


}

@media (max-width:1120px) {

	.Navbar {
		padding: 20px 0px 0 10px;

	}

	.Navbar li {
		display: none;
	}

	.icon {
		display: flex;
		justify-content: center;
		padding: 20px 10px;
	}

	.logo {
		font-size: 25px;
	}
}

@media (max-width:560px) {
	.logo {
		display: none;
	}

	.container {
		display: flex;
		flex-direction: column;

	}

	.content {
		order: -1;
	}

	.categories {
		width: 100%;
		display: flex;
		justify-content: space-between;

	}

	.Navbar {
		/* border-top: 1px solid; */
		order: 2;
		padding: 0;
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		align-items: center;
		/* box-shadow: 0px 3px 15px; */
		position: fixed;
		width: 100%;
		bottom: 0;
		background-color: black;
	}

	.icon svg {
		color: white;
	}

	.icons {
		display: flex;
		width: 100%;
		/* border: 1px solid; */
		justify-content: center;
	}

	.logout {
		display: none;
	}

	.icon {
		margin-top: 0px;
		padding: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.categories button {
		width: 150px;
	}

	.icon:hover {
		background-color: #d3d3d300;
	}

	.content {
		padding: 10px 20px;
	}

	.card {}
}


@media (max-width:380px) {
	.categories {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.categories button {
		width: 220px;
	}
}