* {
	--second: #4F45E4;
	--bgc:#171717;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body::-webkit-scrollbar {
	display: none;
}

body {
	width: auto;
	background-color: #7CD0CF;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.form-floating input {
	width: 500px;
	border-radius: 20px;
}

@media (max-width: 720px) {
	.form-floating input {
		width: 300px;
	}
}


